body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.mainlogin{
    display: grid;
    grid-template-areas: 
    "loginsection rigistersection"
    ;
    height: 100%;
    #loginsection{
        background-color: #EAEAEA;
        button{
            border: 1px solid black;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: rgba(255,255,255,0);
            position: absolute;
            width: 145px;
            height: 30px;
            left: 800px;
            top: 20px;
        }
        form{
            position: absolute;
            left: 258px;
            top: 414px;
            
            input{
                width: 435px;
                height: 40px;
                background-color: rgba(255,255,255,0);
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 5px;
                &:last-child{
                    position: relative;
                    width: 145px;
                    left: 145px;
                }
            }
        }

    }
    #rigistersection{
        background-color: #272822;
        button{
            color: #F5732A;
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 10px;
            background-color: rgba(255,255,255,0);
            position: absolute;
            width: 145px;
            height: 30px;
            left: 970px;
            top: 20px;
            
        }
        form{
            position: absolute;
            left: 1217px;
            top: 333px;
            color: white;
            input{
                color: #F5732A;
                width: 435px;
                height: 40px;
                background-color: rgba(255,255,255,0);
                border: 1px solid white;
                box-sizing: border-box;
                border-radius: 5px;
                &:last-child{
                    color: #F5732A;
                    position: relative;
                    width: 145px;
                    left: 145px;
                }
            }
        }
    }
}

.mainHpme{
    
}