body{
    margin: 0;
    padding: 0;
    height: 100vh;
    user-select: none;
}
.mainlogin{
    display: grid;
    grid-template-areas: 
    "loginsection rigistersection";
    height: 100%;
    #loginsection{
        background-color: #EAEAEA;
        display: grid;
        grid-template-areas: 
        "title"
        "form";
        justify-content: center;
        h2{
            grid-area: title;
            justify-self: center;
        }
        form{
            grid-area: form ;
            input{
                width: 435px;
                height: 40px;
                background-color: rgba(255,255,255,0);
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 5px;
                &:last-child{
                    position: relative;
                    width: 145px;
                    left: 145px;
                    margin-bottom: 20px;
                }
            }
        }

    }
    #rigistersection{
        background-color: #272822;
        display: grid;
        grid-template-areas: 
        "title"
        "form";
        justify-content: center;
        h2{
            color: #F5732A;
            grid-area: title;
            justify-self: center;
        }
        form{
            grid-area: form ;
            color: white;
            input{
                color: #F5732A;
                width: 435px;
                height: 40px;
                background-color: rgba(255,255,255,0);
                border: 1px solid white;
                box-sizing: border-box;
                border-radius: 5px;
                &:last-child{
                    color: #F5732A;
                    position: relative;
                    width: 145px;
                    left: 145px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.bodyAnvandareInloggad{
    header{
        background-color: #272822;
        display: grid;
        grid-template-columns: 1fr 20% 10%;
        grid-template-areas: 
        "name search singoutbutton";
        h1{
            color: #F5732A;
            margin: 2%;
            grid-area: name;
        }
        input{
            border:none;
            box-sizing: border-box;
            border-radius: 10px;
            height: 40%;
            width: 100%;
            margin: auto;
            grid-area: search;
        }
        button{
            border:none;
            box-sizing: border-box;
            border-radius: 10px;
            height: 40%;
            width: 60%;
            margin: auto;
            grid-area: singoutbutton;
        }
    }
    main{
        margin: 1%;
        display: grid;
        justify-content: center;
        section{
            display: grid;
            grid-template-areas: 
            "title . inläginfo"
            ". . likes"
            "content content content";
            background-color: #EAEAEA;
            margin: 1%;
            h2{
                grid-area: title;
                margin: auto;
            }
            #inlägginfo{
                grid-area: inläginfo;
                margin: auto;
            }
            #inlägglikes{
                grid-area: likes;
                margin: auto;
            }
            #inläggcontent{
                grid-area: content;
                margin: auto;
            }
        }
    }
    footer{
        background-color: #C4C4C4;
    }
}

@media only screen and (max-width: 900px) {
    .mainlogin{
        grid-template-areas: 
        "loginsection" 
        "rigistersection";
    }
    .bodyAnvandareInloggad{
        header{
            grid-template-columns: auto;
        }
    }
}